[Unit]
Description=Shopee Shortlink Native (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=yok
Group=yok
WorkingDirectory=/home/yok/shortlink-native/electron
EnvironmentFile=/etc/shortlink/%i.env
ExecStart=/home/yok/shortlink-native/run-shortlink.sh %i
Restart=always
RestartSec=5
TimeoutStopSec=20
KillMode=mixed

[Install]
WantedBy=multi-user.target
